
body {
    background-color: powderblue;
    text-align: center;
}
h1 {
	font-family: 'Pacifico', Cursive;
    color: red;
    font-size: 459%;
}
p {
    color: blue;
    font-size: 75%;
}

.image-border {
	border: 15px solid green;
	border-radius: 50%;
}

.image-border-2 {
	border: 15px solid orange;
	border-radius: 75%;
}

.smaller-image {
	width: 400px;
}