
.body {
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

.outside-box {
	background-color: white;
	padding: 10px;

}
.title-box {
	font-family: 'Pacifico', Cursive;
    color: red;
    font-size: 459%;
    padding: 20px;
    margin: -15px;
    background: powderblue;
}

.image-box {
	padding: 20px;
	margin: 20px;
}

p {
    color: blue;
    font-size: 75%;
}

body {
	text-align: center;
}

.image-border {
	border: 15px solid green;
	border-radius: 50%;
	margin: 10px;
}

.image-border-2 {
	border: 15px solid orange;
	border-radius: 75%;
}

.image-border-3 {
	border: 15px solid teal;
	border-radius: 90%;
}

.smaller-image {
	width: 400px;
}

.larger-image {
	width: 800px;
}

